#Game{
	width:100%;
}
td,th{
	border:1px solid black;
	border-radius:5px;
	
}
tr:nth-child(even){
background-color:whitesmoke;
}
th{
	padding:0px;
	background-color:blue;
	color:white;
	text-align:left;
	font-size:18px;
}
	

